body {
	background-color: #E9EBEE;
}

/*NAV BAR CENTER*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
/*END OF NAV BAR CENTER*/

/*MARGIN CODING*/

.no-margin {
	margin: 0px;
}

/*END OF MARGIN CODING*/

/* PADDING CODING */

.no-padding {
	padding: 0px;
}

.padding-bottom {
	padding-bottom: 15px;
}

.padding-bottom-sixty {
  padding-bottom: 60px;
}

.padding-top {
	padding-top: 15px;
}

.padding-top-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-all {
	padding: 15px;
}

/* END OF PADDING CODING*/

/*FONT CUSTOMIZING CODING*/
.text-bold {
	font-weight: bolder;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
/*END OF FONT CUSTOMIZING*/
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.no-border-radius {
	border-radius:0px;
}

.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.text-box > h4 {
   display: inline-block;
   font-size: 20px; /*or whatever you want*/
   color: #FFF;   
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}